.pointer {
    border-radius: 50% !important;
    scale: 150%;
    transition-duration: .3s !important;
    border: .4rem solid;
    background-color: black !important;
}

@keyframes pointer {
    0% {
        scale: 100%;
    }
    100% {
        scale: 150%;
    }
}

@keyframes rippleEffect {
100% {
    transform: scale(10);
    opacity: 0;
}
}
@keyframes rippleEffectBig {
100% {
    transform: scale(20);
    opacity: 0;
}
}
  